/* _content/BlazzorApp/Pages/Core_Engine.razor.rz.scp.css */
.main-container[b-jgb53nw4z6] {
    display: flex;
    height: 100vh;
    color: white;
    background-color: #333333;
}

.canvas-container[b-jgb53nw4z6] {
    flex: 1;
    padding: 10px;
}

#graphCanvas[b-jgb53nw4z6] {
    width: 100%;
    height: 100%;
}

.control-panel[b-jgb53nw4z6] {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.code-input[b-jgb53nw4z6],
.console-output[b-jgb53nw4z6] {
    flex: 1;
    margin-bottom: 10px;

    border-radius: 15px;
}

.code-input[b-jgb53nw4z6] {
    display: flex;
    flex: 3;
    /* Toma 3 partes del espacio disponible */
}

.console-output[b-jgb53nw4z6] {
    flex: 1;
    /* Toma 1 parte del espacio disponible */
}

textarea[b-jgb53nw4z6] {
    width: 100%;
    height: 100%;
    background-color: #222;
    color: white;
    border: none;
    padding: 10px;
    resize: none;
    border-radius: 15px;
}

.buttons button[b-jgb53nw4z6] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;

    border-radius: 15px;
}

.buttons button:hover[b-jgb53nw4z6] {
    background-color: #666;
}

.save-container[b-jgb53nw4z6] {
    display: flex;
    width: 100%;
    /* Ajusta el ancho según tus necesidades */
}

.save-container input[b-jgb53nw4z6],
.save-container button[b-jgb53nw4z6] {
    flex: 1;
    /* Ambos elementos ocuparán la misma cantidad de espacio */
    padding: 10px;
    /* Ajuste para comodidad visual y táctil */
    font-size: 16px;
    /* Ajuste para una apariencia uniforme */

    border-radius: 15px;
}

.save-container input[b-jgb53nw4z6] {
    height: 100%;
    margin-right: 5px;
    background-color: #333;
    color: white;
}

.save-container button[b-jgb53nw4z6] {
    cursor: pointer;
}

.error-output[b-jgb53nw4z6] {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 10px;
    background-color: #222;
    color: white;
    border: 1px solid #555;

    border-radius: 15px;
}

.error-output span[b-jgb53nw4z6] {
    color: red;
}


#lineNumbers[b-jgb53nw4z6] {
    background-color: #333;
    color: #888;
    /* Ajusta los colores según tus necesidades */
    flex: 1;
    overflow: hidden;
}

#codeInput[b-jgb53nw4z6] {
    flex: 28;
}
/* _content/BlazzorApp/Shared/Footer.razor.rz.scp.css */
.footer[b-jul7bhsgdl] {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f6f6f6;
    color: black;
    text-align: center;
    padding: 10px 0;
}

.footer a[b-jul7bhsgdl] {
    color: #333;
}

.footer a:hover[b-jul7bhsgdl] {
    color: #535353;
}

.github-button[b-jul7bhsgdl] {
    display: inline-block;
    background-color: #f6f6f6;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.github-button:hover[b-jul7bhsgdl] {
    background-color: #878787;
}
/* _content/BlazzorApp/Shared/MainLayout.razor.rz.scp.css */
.main[b-i6bp6qhfh7] {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content[b-i6bp6qhfh7] {
    flex: 1;
    padding: 20px;
}

.navbar[b-i6bp6qhfh7] {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif; /* Change as needed */
    border-radius: 15px; /* Gives the navbar rounded corners */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Adds a subtle shadow for a 3D effect */
}

.nav-button[b-i6bp6qhfh7] {
    display: flex;
    align-items: center;
    margin-right: 15px; /* Adjust the margin between buttons */
    padding: 10px; /* Adds some padding around the buttons */
    border-radius: 5px; /* Gives the buttons rounded corners */
    transition: background-color 0.3s ease; /* Adds a smooth transition effect when hovering over the buttons */
}

.nav-button a[b-i6bp6qhfh7] {
    color: white;
    text-decoration: none;
    font-size: 18px; /* Change as needed */
    font-weight: bold; /* Change as needed */
}

.nav-button:hover[b-i6bp6qhfh7] {
    background-color: #555; /* Changes the button color when hovering */
    text-decoration: none;
}

.navbar img[b-i6bp6qhfh7] {
    height: 40px; /* Adjust the height as needed */
    margin-right: 10px;
}

.bi[b-i6bp6qhfh7] {
    font-size: 24px; /* Adjust as needed */
}
/* _content/BlazzorApp/Shared/NavMenu.razor.rz.scp.css */
