<!-- Shared/Components/Footer.razor -->
<div class="footer">
    <p>&copy; 2023-2024 MatCom</p>
    <i class="bi bi-github"></i><a href="https://github.com/jotica0602/GeoWall-E" target="_blank">View on GitHub</a>
</div>
