.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f6f6f6;
    color: black;
    text-align: center;
    padding: 10px 0;
}

.footer a {
    color: #333;
}

.footer a:hover {
    color: #535353;
}

.github-button {
    display: inline-block;
    background-color: #f6f6f6;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.github-button:hover {
    background-color: #878787;
}
