<!-- Shared/Components/Footer.razor -->
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>&copy; 2023-2024 MatCom</p>
            <p>
                <strong>Third Programming Project</strong> by <a href="https://www.uh.cu/">Faculty of Mathematics and
                    Computer Science, University of Havana</a>.
            </p>
            <p>
            <div class="github-button">
                <i class="bi bi-github"></i> <a href="https://github.com/jotica0602/GeoWall-E">See repository on
                    GitHub</a>
            </div>
            </p>
        </div>
    </div>
</footer>

@* <p>&copy; 2023-2024 MatCom</p> *@