<!-- Shared/Components/Footer.razor -->
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <p>&copy; 2023-2024 MatCom</p>
                <strong>Third Programming Project</strong> by <a href="https://www.uh.cu/">Faculty of Mathematics and Computer Science, University of Havana</a>.
            </p>
            <p>
                <a href="https://github.com/jotica0602/GeoWall-E">
                    <i class="bi bi-github"></i> View on GitHub
                </a>
            </p>
        </div>
    </div>
</footer>

