/* wwwroot/css/site.css */
.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 20px;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 15px; /* Adjust the margin between links */
}

.custom-icon {
    margin-right: 5px; /* Adjust the margin for icons */
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar img {
    height: 40px; /* Adjust the height as needed */
    margin-right: 10px;
}
