@inherits LayoutComponentBase

<!-- Shared/MainLayout.razor -->
<div class="navbar">
    <img src="images/WallE.png" alt="Project Logo" />
    <div class="nav-button">
        <i class="bi bi-house"></i> <a href="/">Dashboard</a>
    </div>
    <div class="nav-button">
        <i class="bi-file-pdf"></i> <a href="/Pdf">Information</a>
    </div>
    <div class="nav-button">
        <i class="bi bi-brush"></i> <a href="/CoreEngine">Design Studio</a>
    </div>
    <!-- Add more links as needed -->
</div>

<div class="content">
    @Body
</div>
