.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 20px;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif; /* Change as needed */
    border-radius: 15px; /* Gives the navbar rounded corners */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Adds a subtle shadow for a 3D effect */
}

.nav-button {
    display: flex;
    align-items: center;
    margin-right: 15px; /* Adjust the margin between buttons */
    padding: 10px; /* Adds some padding around the buttons */
    border-radius: 5px; /* Gives the buttons rounded corners */
    transition: background-color 0.3s ease; /* Adds a smooth transition effect when hovering over the buttons */
}

.nav-button a {
    color: white;
    text-decoration: none;
    font-size: 18px; /* Change as needed */
    font-weight: bold; /* Change as needed */
}

.nav-button:hover {
    background-color: #555; /* Changes the button color when hovering */
    text-decoration: none;
}

.navbar img {
    height: 40px; /* Adjust the height as needed */
    margin-right: 10px;
}

.bi {
    font-size: 24px; /* Adjust as needed */
}
