@inherits LayoutComponentBase

<!-- Shared/MainLayout.razor -->
<div class="navbar">
    <img src="images/WallE.png" alt="Project Logo" />
    <i class="bi bi-body-text"></i> <a href="/">Home</a>
    <i class="bi-file-pdf"></i> <a href="/Pdf">PDF</a>
    <i class="bi bi-brush"></i> <a href="/CoreEngine">Canvas</a>
    <!-- Add more links as needed -->
</div>

<div class="content">
    @Body
</div>
