@page "/"

@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Routing


<div class="container">
    <h1>Bienvenido al Proyecto de Compilación de Funciones Geométricas</h1>

    <p>Esta es la página de presentación del proyecto, diseñada de manera detallada y minimalista.</p>
    
    <div class="floating-buttons">
        <a href="/compiler" class="button">Ir al Compilador</a>
        <li><a href="/pdf/orientacion.pdf" target="_blank" class="button">Orientación del Proyecto (PDF)</a></li>
        <li><a href="/readme" class="button">Acerca del Proyecto (Readme)</a></li>
    </div>
</div>