@page "/"
@inherits LayoutComponentBase

<div class="welcome-section">
    <h1 class="welcome-title">Welcome to GeoWall-E Project</h1>
    <p class="welcome-subtitle">u can find our project at : <a href="https://github.com/TuUsuario/TuProyecto" target="_blank">GeoWall-E GitHub</a></p>
    
    <div class="buttons-container">
        <a class="button" href="/writecode">Write Code</a>
        <a class="button" href="/order">Order</a>
        <button class="button" @onclick="OpenReadme">Readme</button>
    </div>
</div>

@code {
    private void OpenReadme()
    {
        // Lógica para abrir el archivo .md, puedes usar JavaScript interop para esto.
    }
}