@page "/"
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inherits LayoutComponentBase

@layout MainLayout

<h1 class="page-title">Geo Wall-E</h1>

<!-- Introduction -->
<p class="intro">
    Geometric Wall-E is a program, WallE will be able to represent geometric
    concepts (such as points, lines, or circles), graph them, and verify rel
    ationships (for example, that the medians in a triangle intersect at the
    same point and that it is the center of the circumscribed circle). To achieve
    this, WallE has a canvas (plane), a ruler, and a compass to draw lines and circles.
</p>

<!-- Image -->
<div class="image-container">
    <img src="images/1292006.jpg" alt="Introduction Image" class="rescaled-image" />
</div>

<Footer />

<style>
    /* CSS */

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }

    .page-title {
        text-align: center;
        color: #333;
        font-size: 3em;
        /* Make the title bigger */
        font-family: 'Playfair Display', serif;
        /* Change the font to 'Playfair Display' */
        margin-top: 20px;
        font-weight: bold;
    }

    .intro {
        text-align: justify;
        color: #666;
        font-size: 1.2em;
        margin: 20px auto;
        max-width: 800px;
        line-height: 1.6em;
    }

    .image-container {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }

    .rescaled-image {
        width: 75%;
        /* Rescale the image to 50% of its original width */
        height: auto;
    }
</style>

@code {

}


@* <img src="images/1292006.jpg" alt="Introduction Image" class="introduction-image" /> *@